@import '../vars.css';

input[type=submit] {
    border: none;
    outline: none;
    border-radius: 0.8em !important;
    color: var(--tertiary-text-color);
    background-color: var(--main-bg-color);
}